@font-face {
	font-family: "Franklin Gothic Medium";
	src: url("../fonts/franklin-gothic-medium.ttf");
	font-weight: normal;
	font-style: normal;
}

body {
    cursor: url(https://mnogoblog.ru/cur116.cur), progress !important;
}

* {
    font-family: 'Palatino Linotype', Times, serif;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

.wrapper {
    background: black url(/img/background.jpg) repeat 50% 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .header {
        width: 100%;
        height: 6%;
        background-color: rgba($color: rgb(0, 0, 0), $alpha: 1);
        box-shadow: 2px 2px 8px 0px #b1a16e;

        & > img {
            height: 80%;
        }
    }
    
    .contentWrapper {
        display: flex;
        justify-content: space-between;
        height: 94%;

        & > * {
            background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.5);
            margin-top: 15px;
            color:rgb(180, 180, 180);
        }

        .mediaBlock {
            flex-basis: 25%;
            overflow: auto;
            margin: 5px auto;

            & > div {

                & > p {
                    text-align: center;
                    margin-top: 0;
                    color: #b1a16e;
                    font-size: 13pt;
                }

                & > * {
                    width: 90%;
                    display: block;
                    margin: 15px auto 0;
                }
            }
        }

        .line {
            width: 5px;
            background: radial-gradient(#b1a16e, rgba(0, 0, 0, 0));
            border-radius: 30%;
        }

        .rigthBlock {
            flex-basis: 75%;
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: #b1a16e #b4b4b4;
            
            &::-webkit-scrollbar {
                width: 8px; 
            }

            &::-webkit-scrollbar-track {
                background: #b4b4b4;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #b1a16e;
            }

            .mainPageTitle {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 48px;
                color: #b1a16e;
                text-align: center;
                line-height: 1.2;
            }

            .content {
                font-size: 14pt;
                text-align: justify;
                padding: 0 15px;

                & > * {
                    margin: 10px auto;
                }

                & > img {
                    max-height: 80vh;
                    max-width: 100%;
                    display: block;
                    border-radius: 10px;
                }

                // Для размещения нескольких изображений в ряд
                .imageBlock {
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;

                    & > * {
                        flex: 1;
                    }
                }
            }
        }
        
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        overflow-y: scroll;

        .contentWrapper {
            flex-direction: column;
            height: auto;

            .mediaBlock {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                
                & > * {
                    flex: 0 0 40%;
                }
            }

            .line {
                height: 5px;
                width: 90%;
                margin: auto;
            }

            .rigthBlock {
                overflow-y: hidden;

                .mainPageTitle {
                    font-size: 40px;
                }

                .content {

                    // Для размещения нескольких изображений в ряд
                    .imageBlock {
                        flex-wrap: nowrap;
                        overflow-x: auto;

                        & > * {
                            flex: 0 0 80%;
                        }
                    }
                }
            }
        }
    }
}

/* Для визуальных эффеков (дым, свечение курсора) */
#smokeCanvas
{
    pointer-events: none;
    height:800px;
    width:100%;
    max-width:100%;
    min-width:800px;
    position:absolute;
    bottom:0;
}

#lamp {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: radial-gradient(rgba(255,255,255,0.2) 0%, transparent 70%);
}

.mainPage_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black url(/img/background.jpg) repeat 50% 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .mainPage_header {
        font-family: "Franklin Gothic Medium";
        color: white;
        margin: 20px auto;
        font-size: 30px;
    }

    .mainPage_mapWrapper {
        width: 80%;
    }
    .mainPage_contentWrapper {

        .mainContentTitle {
            color: burlywood;
        }
    }

}

.hover_group:hover {
    opacity: 1;
  }
  
  #projectsvg svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }