@charset "UTF-8";
@font-face {
  font-family: "Franklin Gothic Medium";
  src: url("../fonts/franklin-gothic-medium.ttf");
  font-weight: normal;
  font-style: normal;
}

body, a {
  cursor: url("../cursor.cur"), progress !important;
}

* {
  font-family: 'Palatino Linotype', Times, serif;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

.line, .horizontalLine {
  width: 5px;
  background: radial-gradient(#b1a16e, rgba(0, 0, 0, 0));
  border-radius: 30%;
}

.horizontalLine {
  height: 5px;
  width: 90%;
  margin: auto;
}

.wrapper {
  background: black url(../img/background.jpg) repeat 50% 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.wrapper .header {
  width: 100%;
  height: 6%;
  background-color: black;
  -webkit-box-shadow: 2px 2px 8px 0px #b1a16e;
          box-shadow: 2px 2px 8px 0px #b1a16e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.wrapper .header .logo {
  position: absolute;
  height: 60px;
  left: 12.5%;
  top: 6%;
  -webkit-box-shadow: 2px 2px 8px 0px #b1a16e;
          box-shadow: 2px 2px 8px 0px #b1a16e;
  padding: 6px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper .header .exit {
  margin: auto 10px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80%;
  color: white;
}

.wrapper .header .exit img {
  height: 100%;
}

.wrapper .header > * {
  -webkit-transition: all 0.38s ease-in-out;
  transition: all 0.38s ease-in-out;
  background-color: #b1a16e;
  border-radius: 100%;
}

.wrapper .header > *:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.wrapper .contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 94%;
}

.wrapper .contentWrapper > * {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  color: #b4b4b4;
}

.wrapper .contentWrapper h1, .wrapper .contentWrapper h2 {
  color: #b1a16e;
  margin-top: 15px;
}

.wrapper .contentWrapper h1 {
  text-align: center;
  font-size: 1.3em;
}

.wrapper .contentWrapper h2 {
  font-size: 1.1em;
  text-decoration: underline;
}

.wrapper .contentWrapper .mediaBlock {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  overflow: auto;
  margin: 5px auto;
  padding-top: 25px;
}

.wrapper .contentWrapper .mediaBlock > div > p {
  text-align: center;
  margin-top: 0;
  color: #b1a16e;
  font-size: 13pt;
}

.wrapper .contentWrapper .mediaBlock > div > * {
  width: 90%;
  display: block;
  margin: 15px auto 0;
}

.wrapper .contentWrapper .mediaBlock > div a {
  position: relative;
}

.wrapper .contentWrapper .mediaBlock > div a img {
  max-width: 100%;
  height: 100%;
}

.wrapper .contentWrapper .mediaBlock > div a .linkButton {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all 0.38s ease-in-out;
  transition: all 0.38s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .contentWrapper .mediaBlock > div a .linkButton div {
  padding: 10px;
  -webkit-transition: all 0.38s ease-in-out;
  transition: all 0.38s ease-in-out;
  color: #b1a16e;
  border: 5px #b1a16e solid;
}

.wrapper .contentWrapper .mediaBlock > div a .linkButton:hover {
  opacity: 100%;
}

.wrapper .contentWrapper .mediaBlock > div a .linkButton:hover div:hover {
  background-color: #b1a16e;
  color: white;
}

.wrapper .contentWrapper .rigthBlock {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #b1a16e #b4b4b4;
}

.wrapper .contentWrapper .rigthBlock::-webkit-scrollbar {
  width: 8px;
}

.wrapper .contentWrapper .rigthBlock::-webkit-scrollbar-track {
  background: #b4b4b4;
}

.wrapper .contentWrapper .rigthBlock::-webkit-scrollbar-thumb {
  background-color: #b1a16e;
}

.wrapper .contentWrapper .rigthBlock .mainPageTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 48px;
  color: #b1a16e;
  text-align: center;
  line-height: 1.2;
}

.wrapper .contentWrapper .rigthBlock .content {
  font-size: 14pt;
  text-align: justify;
  padding: 0 15px;
}

.wrapper .contentWrapper .rigthBlock .content > * {
  margin: 10px auto;
}

.wrapper .contentWrapper .rigthBlock .content > img, .wrapper .contentWrapper .rigthBlock .content iframe {
  max-height: 80vh;
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

.wrapper .contentWrapper .rigthBlock .content .imageBlock {
  max-height: 50vh;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .contentWrapper .rigthBlock .content .imageBlock > * {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 900px) {
  .wrapper {
    overflow-y: scroll;
  }
  .wrapper .header .logo {
    left: 50%;
  }
  .wrapper .contentWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .wrapper .contentWrapper .mediaBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
  }
  .wrapper .contentWrapper .mediaBlock > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .wrapper .contentWrapper .mediaBlock > * > *:not(p) {
    border-bottom: #b1a16e 2px solid;
    border-top: #b1a16e 2px solid;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .wrapper .contentWrapper .line {
    height: 5px;
    width: 90%;
    margin: auto;
  }
  .wrapper .contentWrapper .rigthBlock {
    overflow-y: hidden;
  }
  .wrapper .contentWrapper .rigthBlock .mainPageTitle {
    font-size: 40px;
  }
  .wrapper .contentWrapper .rigthBlock .content .imageBlock {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
  }
  .wrapper .contentWrapper .rigthBlock .content .imageBlock > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
}

/* Для визуальных эффеков (дым, свечение курсора) */
#smokeCanvas {
  pointer-events: none;
  height: 800px;
  width: 100%;
  max-width: 100%;
  min-width: 800px;
  position: absolute;
  bottom: 0;
}

#lamp {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0%, transparent 70%);
}

/* Main page */
.mainPage_wrapper {
  background: black url(../img/background.jpg) repeat 50% 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mainPage_wrapper .mainPage_header {
  font-family: "Franklin Gothic Medium";
  color: #b1a16e;
  width: 100%;
  height: 8%;
  text-align: end;
  letter-spacing: 0.8em;
  font-size: 30pt;
  background-color: black;
  -webkit-box-shadow: 2px 2px 8px 0px #b1a16e;
          box-shadow: 2px 2px 8px 0px #b1a16e;
  text-shadow: 2px 4px 10px #b1a16e;
}

.mainPage_wrapper .mainPage_header .mainPage_logo {
  background-color: black;
  letter-spacing: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 80px;
  left: 5%;
  top: 8%;
  -webkit-box-shadow: 2px 2px 10px 2px #b1a16e;
          box-shadow: 2px 2px 10px 2px #b1a16e;
  padding: 0 20px;
  text-align: center;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 40px;
}

.mainPage_wrapper .mainPage_header .mainPage_logo img {
  height: 100%;
}

.mainPage_wrapper .mainPage_header .mainPage_logo p {
  color: white;
  font-size: 16pt;
}

.mainPage_wrapper .mainPage_header > * {
  -webkit-transition: all 0.38s ease-in-out;
  transition: all 0.38s ease-in-out;
}

.mainPage_wrapper .mainPage_header > *:hover {
  -webkit-filter: brightness(170%);
          filter: brightness(170%);
}

.mainPage_wrapper .mainPage_header .horrorText {
  overflow: hidden;
  white-space: nowrap;
}

.mainPage_wrapper .mainPage_header em {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.mainPage_wrapper .mainPage_header em:hover {
  -webkit-filter: drop-shadow(16px 16px 10px white) blur(2px);
          filter: drop-shadow(16px 16px 10px white) blur(2px);
  -webkit-transition: all 0.38s ease-in-out;
  transition: all 0.38s ease-in-out;
}

.mainPage_wrapper .mainPage_contentWrapper {
  overflow: auto;
  height: 92%;
}

.mainPage_wrapper .mainPage_contentWrapper .mainPage_mapWrapper {
  margin: 15px;
  margin-top: 25px;
  min-width: 950px;
}

.mainPage_wrapper .mainPage_contentWrapper .banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 90%;
  max-width: 600px;
}

.mainPage_wrapper .mainPage_contentWrapper .banner img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .mainPage_wrapper .mainPage_header .mainPage_logo {
    height: 60px;
  }
  .mainPage_wrapper .mainPage_contentWrapper .mainPage_mapWrapper {
    margin-top: 45px;
  }
}

.svgtriangle {
  -webkit-filter: drop-shadow(2px 2px 5px white);
          filter: drop-shadow(2px 2px 5px white);
}

.hover_group {
  -webkit-transition: all 0.38s ease-in-out;
  transition: all 0.38s ease-in-out;
}

.hover_group * {
  -webkit-filter: brightness(0) drop-shadow(1px 1px 1px white);
          filter: brightness(0) drop-shadow(1px 1px 1px white);
}

.hover_group:hover {
  opacity: 1;
}

#projectsvg svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* Для fancybox галереи */
.boardGallery {
  height: 580px;
  position: relative;
}

.boardGallery .pic {
  position: absolute;
  border: 5px solid #EEEEEE;
  border-bottom: 18px solid #eeeeee;
  -webkit-box-shadow: 2px 2px 3px #333333;
          box-shadow: 2px 2px 3px #333333;
}

.boardGallery .pic * {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.boardGallery .pic a {
  text-indent: -999px;
  display: block;
}
/*# sourceMappingURL=style.css.map */